USE [master]
GO
/****** Object:  Database [agrocontrol_main]    Script Date: 06.05.2026 13:26:31 ******/
CREATE DATABASE [agrocontrol_main]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'agrocontrol_main', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\agrocontrol_main.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'agrocontrol_main_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\agrocontrol_main_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [agrocontrol_main].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [agrocontrol_main]
GO
/****** Object:  Table [dbo].[batches]    Script Date: 06.05.2026 13:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[batches](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_number] [nvarchar](50) NOT NULL,
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[recipe_id] [int] NOT NULL,
	[tech_card_id] [int] NOT NULL,
	[start_time] [datetime] NULL,
	[end_time] [datetime] NULL,
	[status] [nvarchar](30) NULL,
	[actual_quantity_kg] [decimal](10, 2) NULL,
	[operator_id] [int] NULL,
	[equipment_id] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quality_tests]    Script Date: 06.05.2026 13:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quality_tests](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NULL,
	[raw_batch_id] [int] NULL,
	[test_type] [nvarchar](30) NOT NULL,
	[analyst_id] [int] NOT NULL,
	[test_date] [datetime] NULL,
	[decision] [nvarchar](30) NULL,
	[decision_comment] [nvarchar](max) NULL,
	[completed_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 06.05.2026 13:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[type] [nvarchar](50) NULL,
	[form] [nvarchar](50) NULL,
	[status] [nvarchar](30) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_batch_report]    Script Date: 06.05.2026 13:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- 10. ПРЕДСТАВЛЕНИЯ (VIEWS) ДЛЯ ОТЧЕТОВ
-- =====================================================

-- Отчет по партиям
CREATE   VIEW [dbo].[v_batch_report] AS
SELECT 
    b.id,
    b.batch_number,
    p.name AS product_name,
    b.start_time,
    b.end_time,
    b.status,
    b.actual_quantity_kg,
    qt.decision AS lab_decision,
    DATEDIFF(HOUR, b.start_time, COALESCE(b.end_time, GETDATE())) AS duration_hours
FROM batches b
JOIN products p ON b.product_id = p.id
LEFT JOIN quality_tests qt ON b.id = qt.batch_id AND qt.test_type = 'finished';
GO
/****** Object:  Table [dbo].[batch_steps]    Script Date: 06.05.2026 13:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[batch_steps](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NOT NULL,
	[step_id] [int] NOT NULL,
	[actual_start] [datetime] NULL,
	[actual_end] [datetime] NULL,
	[actual_temp_c] [decimal](5, 2) NULL,
	[actual_duration_min] [int] NULL,
	[actual_pressure_bar] [decimal](4, 2) NULL,
	[deviation_flag] [bit] NULL,
	[operator_comment] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tech_steps]    Script Date: 06.05.2026 13:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tech_steps](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tech_card_id] [int] NOT NULL,
	[step_order] [int] NOT NULL,
	[step_name] [nvarchar](100) NOT NULL,
	[step_type] [nvarchar](50) NULL,
	[planned_temp_c] [decimal](5, 2) NULL,
	[planned_duration_min] [int] NULL,
	[planned_pressure_bar] [decimal](4, 2) NULL,
	[is_mandatory] [bit] NULL,
	[instruction] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_deviation_report]    Script Date: 06.05.2026 13:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Отчет по отклонениям
CREATE   VIEW [dbo].[v_deviation_report] AS
SELECT 
    b.batch_number,
    ts.step_name,
    bs.actual_temp_c,
    ts.planned_temp_c AS planned_temp,
    bs.actual_pressure_bar,
    ts.planned_pressure_bar AS planned_pressure,
    bs.operator_comment,
    bs.actual_start,
    bs.actual_end
FROM batch_steps bs
JOIN batches b ON bs.batch_id = b.id
JOIN tech_steps ts ON bs.step_id = ts.id
WHERE bs.deviation_flag = 1;
GO
/****** Object:  Table [dbo].[recipes]    Script Date: 06.05.2026 13:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recipes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[version] [int] NOT NULL,
	[status] [nvarchar](30) NULL,
	[total_percent] [decimal](5, 2) NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[approved_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_recipe_usage]    Script Date: 06.05.2026 13:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Отчет по использованию рецептур
CREATE   VIEW [dbo].[v_recipe_usage] AS
SELECT 
    r.id AS recipe_id,
    p.name AS product_name,
    r.version,
    COUNT(b.id) AS batch_count,
    SUM(ISNULL(b.actual_quantity_kg, 0)) AS total_produced_kg
FROM recipes r
JOIN products p ON r.product_id = p.id
LEFT JOIN batches b ON r.id = b.recipe_id
GROUP BY r.id, p.name, r.version;
GO
/****** Object:  Table [dbo].[audit_log]    Script Date: 06.05.2026 13:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[action] [nvarchar](100) NOT NULL,
	[entity_type] [nvarchar](50) NOT NULL,
	[entity_id] [int] NULL,
	[old_value] [nvarchar](max) NULL,
	[new_value] [nvarchar](max) NULL,
	[ip_address] [varchar](45) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[batch_raw_materials]    Script Date: 06.05.2026 13:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[batch_raw_materials](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NOT NULL,
	[raw_batch_id] [int] NOT NULL,
	[quantity_used] [decimal](10, 2) NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[equipment]    Script Date: 06.05.2026 13:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[type] [nvarchar](50) NULL,
	[location] [nvarchar](100) NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[events]    Script Date: 06.05.2026 13:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[events](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NULL,
	[event_type] [nvarchar](50) NOT NULL,
	[severity] [nvarchar](20) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[operator_comment] [nvarchar](max) NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[production_orders]    Script Date: 06.05.2026 13:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[production_orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_number] [nvarchar](50) NOT NULL,
	[product_id] [int] NOT NULL,
	[recipe_id] [int] NOT NULL,
	[tech_card_id] [int] NOT NULL,
	[planned_quantity_kg] [decimal](10, 2) NOT NULL,
	[status] [nvarchar](30) NULL,
	[planned_start_date] [date] NOT NULL,
	[actual_start_date] [date] NULL,
	[actual_end_date] [date] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[raw_material_batches]    Script Date: 06.05.2026 13:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[raw_material_batches](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[material_id] [int] NOT NULL,
	[batch_number] [nvarchar](50) NOT NULL,
	[supplier_batch] [nvarchar](50) NULL,
	[quantity] [decimal](10, 2) NOT NULL,
	[unit] [nvarchar](10) NOT NULL,
	[arrival_date] [date] NOT NULL,
	[lab_status] [nvarchar](30) NULL,
	[decision_comment] [nvarchar](max) NULL,
	[decision_by] [int] NULL,
	[decision_date] [datetime] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[raw_materials]    Script Date: 06.05.2026 13:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[raw_materials](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[supplier] [nvarchar](100) NULL,
	[unit] [nvarchar](10) NOT NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recipe_components]    Script Date: 06.05.2026 13:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recipe_components](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[recipe_id] [int] NOT NULL,
	[material_id] [int] NOT NULL,
	[percentage] [decimal](5, 2) NOT NULL,
	[load_order] [int] NOT NULL,
	[tolerance_min] [decimal](5, 2) NULL,
	[tolerance_max] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tech_cards]    Script Date: 06.05.2026 13:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tech_cards](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[version] [int] NOT NULL,
	[status] [nvarchar](30) NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[approved_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[test_parameters]    Script Date: 06.05.2026 13:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test_parameters](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[test_id] [int] NOT NULL,
	[parameter_name] [nvarchar](100) NOT NULL,
	[measured_value] [decimal](10, 2) NULL,
	[standard_min] [decimal](10, 2) NULL,
	[standard_max] [decimal](10, 2) NULL,
	[unit] [nvarchar](20) NULL,
	[result] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 06.05.2026 13:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[role] [nvarchar](30) NOT NULL,
	[email] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[department] [nvarchar](100) NULL,
	[is_active] [bit] NULL,
	[last_login] [datetime] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [name], [type], [form], [status], [created_at]) VALUES (23, N'Гербицид А', N'гербицид', N'жидкость', N'active', CAST(N'2026-05-06T13:25:34.127' AS DateTime))
INSERT [dbo].[products] ([id], [name], [type], [form], [status], [created_at]) VALUES (24, N'Инсектицид Б', N'инсектицид', N'порошок', N'active', CAST(N'2026-05-06T13:25:34.127' AS DateTime))
INSERT [dbo].[products] ([id], [name], [type], [form], [status], [created_at]) VALUES (25, N'Фунгицид В', N'фунгицид', N'порошок', N'draft', CAST(N'2026-05-06T13:25:34.127' AS DateTime))
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [password_hash], [full_name], [role], [email], [phone], [department], [is_active], [last_login], [created_at]) VALUES (5, N'tech.ivanov', N'hash123', N'Иванов Иван Петрович', N'technologist', NULL, NULL, N'Технологический отдел', 1, NULL, CAST(N'2026-05-06T13:25:34.123' AS DateTime))
INSERT [dbo].[users] ([id], [username], [password_hash], [full_name], [role], [email], [phone], [department], [is_active], [last_login], [created_at]) VALUES (6, N'operator.zavodov', N'hash123', N'Заводов Сергей Николаевич', N'operator', NULL, NULL, N'Цех №1', 1, NULL, CAST(N'2026-05-06T13:25:34.123' AS DateTime))
INSERT [dbo].[users] ([id], [username], [password_hash], [full_name], [role], [email], [phone], [department], [is_active], [last_login], [created_at]) VALUES (7, N'lab.vasilieva', N'hash123', N'Васильева Елена Андреевна', N'laboratory', NULL, NULL, N'Лаборатория', 1, NULL, CAST(N'2026-05-06T13:25:34.123' AS DateTime))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [idx_batch_steps_batch]    Script Date: 06.05.2026 13:26:32 ******/
CREATE NONCLUSTERED INDEX [idx_batch_steps_batch] ON [dbo].[batch_steps]
(
	[batch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__batches__56E3783762E5B17C]    Script Date: 06.05.2026 13:26:32 ******/
ALTER TABLE [dbo].[batches] ADD UNIQUE NONCLUSTERED 
(
	[batch_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_batches_status_start]    Script Date: 06.05.2026 13:26:32 ******/
CREATE NONCLUSTERED INDEX [idx_batches_status_start] ON [dbo].[batches]
(
	[status] ASC,
	[start_time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_events_batch_created]    Script Date: 06.05.2026 13:26:32 ******/
CREATE NONCLUSTERED INDEX [idx_events_batch_created] ON [dbo].[events]
(
	[batch_id] ASC,
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__producti__730E34DF77906B1C]    Script Date: 06.05.2026 13:26:32 ******/
ALTER TABLE [dbo].[production_orders] ADD UNIQUE NONCLUSTERED 
(
	[order_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_quality_tests_decision_date]    Script Date: 06.05.2026 13:26:32 ******/
CREATE NONCLUSTERED INDEX [idx_quality_tests_decision_date] ON [dbo].[quality_tests]
(
	[decision] ASC,
	[test_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_raw_material_batches_status]    Script Date: 06.05.2026 13:26:32 ******/
CREATE NONCLUSTERED INDEX [idx_raw_material_batches_status] ON [dbo].[raw_material_batches]
(
	[lab_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__recipe_c__A3CE0C480A9D538E]    Script Date: 06.05.2026 13:26:32 ******/
ALTER TABLE [dbo].[recipe_components] ADD UNIQUE NONCLUSTERED 
(
	[recipe_id] ASC,
	[material_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__recipes__9099216002B12D53]    Script Date: 06.05.2026 13:26:32 ******/
ALTER TABLE [dbo].[recipes] ADD UNIQUE NONCLUSTERED 
(
	[product_id] ASC,
	[version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_one_active_recipe_per_product]    Script Date: 06.05.2026 13:26:32 ******/
CREATE UNIQUE NONCLUSTERED INDEX [idx_one_active_recipe_per_product] ON [dbo].[recipes]
(
	[product_id] ASC
)
WHERE ([status]='active')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__tech_car__90992160555C31BA]    Script Date: 06.05.2026 13:26:32 ******/
ALTER TABLE [dbo].[tech_cards] ADD UNIQUE NONCLUSTERED 
(
	[product_id] ASC,
	[version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_one_active_techcard_per_product]    Script Date: 06.05.2026 13:26:32 ******/
CREATE UNIQUE NONCLUSTERED INDEX [idx_one_active_techcard_per_product] ON [dbo].[tech_cards]
(
	[product_id] ASC
)
WHERE ([status]='active')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__tech_ste__210BA6D58C05F3E2]    Script Date: 06.05.2026 13:26:32 ******/
ALTER TABLE [dbo].[tech_steps] ADD UNIQUE NONCLUSTERED 
(
	[tech_card_id] ASC,
	[step_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC5720A68F678]    Script Date: 06.05.2026 13:26:32 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[audit_log] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[batch_raw_materials] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[batch_steps] ADD  DEFAULT ((0)) FOR [deviation_flag]
GO
ALTER TABLE [dbo].[batch_steps] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[batches] ADD  DEFAULT ('planned') FOR [status]
GO
ALTER TABLE [dbo].[batches] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[equipment] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[events] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[production_orders] ADD  DEFAULT ('planned') FOR [status]
GO
ALTER TABLE [dbo].[production_orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[quality_tests] ADD  DEFAULT (getdate()) FOR [test_date]
GO
ALTER TABLE [dbo].[quality_tests] ADD  DEFAULT ('pending') FOR [decision]
GO
ALTER TABLE [dbo].[raw_material_batches] ADD  DEFAULT ('pending') FOR [lab_status]
GO
ALTER TABLE [dbo].[raw_material_batches] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[raw_materials] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[recipes] ADD  DEFAULT ('draft') FOR [status]
GO
ALTER TABLE [dbo].[recipes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tech_cards] ADD  DEFAULT ('draft') FOR [status]
GO
ALTER TABLE [dbo].[tech_cards] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tech_steps] ADD  DEFAULT ((1)) FOR [is_mandatory]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[audit_log]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[batch_raw_materials]  WITH CHECK ADD FOREIGN KEY([batch_id])
REFERENCES [dbo].[batches] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[batch_raw_materials]  WITH CHECK ADD FOREIGN KEY([raw_batch_id])
REFERENCES [dbo].[raw_material_batches] ([id])
GO
ALTER TABLE [dbo].[batch_steps]  WITH CHECK ADD FOREIGN KEY([batch_id])
REFERENCES [dbo].[batches] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[batch_steps]  WITH CHECK ADD FOREIGN KEY([step_id])
REFERENCES [dbo].[tech_steps] ([id])
GO
ALTER TABLE [dbo].[batches]  WITH CHECK ADD FOREIGN KEY([equipment_id])
REFERENCES [dbo].[equipment] ([id])
GO
ALTER TABLE [dbo].[batches]  WITH CHECK ADD FOREIGN KEY([operator_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[batches]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[production_orders] ([id])
GO
ALTER TABLE [dbo].[batches]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[batches]  WITH CHECK ADD FOREIGN KEY([recipe_id])
REFERENCES [dbo].[recipes] ([id])
GO
ALTER TABLE [dbo].[batches]  WITH CHECK ADD FOREIGN KEY([tech_card_id])
REFERENCES [dbo].[tech_cards] ([id])
GO
ALTER TABLE [dbo].[events]  WITH CHECK ADD FOREIGN KEY([batch_id])
REFERENCES [dbo].[batches] ([id])
GO
ALTER TABLE [dbo].[events]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[production_orders]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[production_orders]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[production_orders]  WITH CHECK ADD FOREIGN KEY([recipe_id])
REFERENCES [dbo].[recipes] ([id])
GO
ALTER TABLE [dbo].[production_orders]  WITH CHECK ADD FOREIGN KEY([tech_card_id])
REFERENCES [dbo].[tech_cards] ([id])
GO
ALTER TABLE [dbo].[quality_tests]  WITH CHECK ADD FOREIGN KEY([analyst_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[quality_tests]  WITH CHECK ADD FOREIGN KEY([batch_id])
REFERENCES [dbo].[batches] ([id])
GO
ALTER TABLE [dbo].[quality_tests]  WITH CHECK ADD FOREIGN KEY([raw_batch_id])
REFERENCES [dbo].[raw_material_batches] ([id])
GO
ALTER TABLE [dbo].[raw_material_batches]  WITH CHECK ADD FOREIGN KEY([decision_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[raw_material_batches]  WITH CHECK ADD FOREIGN KEY([material_id])
REFERENCES [dbo].[raw_materials] ([id])
GO
ALTER TABLE [dbo].[recipe_components]  WITH CHECK ADD FOREIGN KEY([material_id])
REFERENCES [dbo].[raw_materials] ([id])
GO
ALTER TABLE [dbo].[recipe_components]  WITH CHECK ADD FOREIGN KEY([recipe_id])
REFERENCES [dbo].[recipes] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[recipes]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[recipes]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tech_cards]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[tech_cards]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tech_steps]  WITH CHECK ADD FOREIGN KEY([tech_card_id])
REFERENCES [dbo].[tech_cards] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[test_parameters]  WITH CHECK ADD FOREIGN KEY([test_id])
REFERENCES [dbo].[quality_tests] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[batches]  WITH CHECK ADD CHECK  (([status]='cancelled' OR [status]='blocked' OR [status]='completed' OR [status]='ready_for_quality' OR [status]='running' OR [status]='planned'))
GO
ALTER TABLE [dbo].[events]  WITH CHECK ADD CHECK  (([event_type]='info' OR [event_type]='warning' OR [event_type]='error' OR [event_type]='deviation'))
GO
ALTER TABLE [dbo].[events]  WITH CHECK ADD CHECK  (([severity]='critical' OR [severity]='high' OR [severity]='medium' OR [severity]='low'))
GO
ALTER TABLE [dbo].[production_orders]  WITH CHECK ADD CHECK  (([status]='cancelled' OR [status]='completed' OR [status]='in_progress' OR [status]='planned'))
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD CHECK  (([form]='суспензия' OR [form]='гранулы' OR [form]='порошок' OR [form]='жидкость'))
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD CHECK  (([status]='draft' OR [status]='archived' OR [status]='active'))
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD CHECK  (([type]='протравитель' OR [type]='регулятор роста' OR [type]='фунгицид' OR [type]='инсектицид' OR [type]='гербицид'))
GO
ALTER TABLE [dbo].[quality_tests]  WITH CHECK ADD CHECK  (([decision]='blocked' OR [decision]='approved' OR [decision]='pending'))
GO
ALTER TABLE [dbo].[quality_tests]  WITH CHECK ADD CHECK  (([test_type]='finished' OR [test_type]='in_process' OR [test_type]='incoming'))
GO
ALTER TABLE [dbo].[quality_tests]  WITH CHECK ADD CHECK  (([batch_id] IS NOT NULL AND [raw_batch_id] IS NULL OR [batch_id] IS NULL AND [raw_batch_id] IS NOT NULL))
GO
ALTER TABLE [dbo].[raw_material_batches]  WITH CHECK ADD CHECK  (([lab_status]='blocked' OR [lab_status]='approved' OR [lab_status]='in_progress' OR [lab_status]='pending'))
GO
ALTER TABLE [dbo].[recipe_components]  WITH CHECK ADD CHECK  (([percentage]>(0) AND [percentage]<=(100)))
GO
ALTER TABLE [dbo].[recipes]  WITH CHECK ADD CHECK  (([status]='archived' OR [status]='active' OR [status]='draft'))
GO
ALTER TABLE [dbo].[tech_cards]  WITH CHECK ADD CHECK  (([status]='archived' OR [status]='active' OR [status]='draft'))
GO
ALTER TABLE [dbo].[tech_steps]  WITH CHECK ADD CHECK  (([step_type]='packaging' OR [step_type]='cooling' OR [step_type]='extrusion' OR [step_type]='holding' OR [step_type]='mixing'))
GO
ALTER TABLE [dbo].[test_parameters]  WITH CHECK ADD CHECK  (([result]='fail' OR [result]='pass'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([role]='manager' OR [role]='shift_supervisor' OR [role]='admin' OR [role]='laboratory' OR [role]='operator' OR [role]='technologist'))
GO
USE [master]
GO
