USE [AgroControlDB]
GO
/****** Object:  User [admin]    Script Date: 14.05.2026 10:19:04 ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Schema [audit]    Script Date: 14.05.2026 10:19:04 ******/
CREATE SCHEMA [audit]
GO
/****** Object:  Schema [monitoring]    Script Date: 14.05.2026 10:19:04 ******/
CREATE SCHEMA [monitoring]
GO
/****** Object:  Schema [production]    Script Date: 14.05.2026 10:19:04 ******/
CREATE SCHEMA [production]
GO
/****** Object:  Schema [quality]    Script Date: 14.05.2026 10:19:04 ******/
CREATE SCHEMA [quality]
GO
/****** Object:  Schema [reference]    Script Date: 14.05.2026 10:19:04 ******/
CREATE SCHEMA [reference]
GO
/****** Object:  Schema [reporting]    Script Date: 14.05.2026 10:19:04 ******/
CREATE SCHEMA [reporting]
GO
/****** Object:  Table [audit].[audit_log]    Script Date: 14.05.2026 10:19:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [audit].[audit_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[action] [nvarchar](50) NOT NULL,
	[entity_type] [nvarchar](50) NULL,
	[entity_id] [int] NULL,
	[old_values] [nvarchar](max) NULL,
	[new_values] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [monitoring].[deviations]    Script Date: 14.05.2026 10:19:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [monitoring].[deviations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NULL,
	[step_execution_id] [int] NULL,
	[parameter_name] [nvarchar](50) NULL,
	[planned_value] [nvarchar](50) NULL,
	[actual_value] [nvarchar](50) NULL,
	[severity] [nvarchar](20) NULL,
	[description] [nvarchar](max) NULL,
	[reported_by] [int] NULL,
	[reported_at] [datetime2](7) NULL,
	[resolved_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [production].[batch_raw_materials_usage]    Script Date: 14.05.2026 10:19:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [production].[batch_raw_materials_usage](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NOT NULL,
	[raw_material_id] [int] NOT NULL,
	[raw_batch_number] [nvarchar](50) NOT NULL,
	[quantity_used] [decimal](10, 2) NOT NULL,
	[unit] [nvarchar](10) NOT NULL,
	[used_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [production].[batch_step_executions]    Script Date: 14.05.2026 10:19:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [production].[batch_step_executions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NOT NULL,
	[tech_card_step_id] [int] NOT NULL,
	[equipment_id] [int] NULL,
	[start_time] [datetime2](7) NULL,
	[end_time] [datetime2](7) NULL,
	[status] [nvarchar](20) NULL,
	[operator_id] [int] NULL,
	[deviation_flag] [bit] NULL,
	[operator_comment] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [production].[batches]    Script Date: 14.05.2026 10:19:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [production].[batches](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_number] [nvarchar](20) NOT NULL,
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[recipe_version] [int] NULL,
	[start_time] [datetime2](7) NULL,
	[end_time] [datetime2](7) NULL,
	[status] [nvarchar](20) NULL,
	[actual_quantity_kg] [int] NULL,
	[lab_status] [nvarchar](20) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[batch_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [production].[production_orders]    Script Date: 14.05.2026 10:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [production].[production_orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_number] [nvarchar](20) NOT NULL,
	[recipe_id] [int] NOT NULL,
	[planned_quantity_kg] [int] NOT NULL,
	[status] [nvarchar](20) NULL,
	[priority] [int] NULL,
	[planned_start_date] [date] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[order_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [production].[recipe_components]    Script Date: 14.05.2026 10:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [production].[recipe_components](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[recipe_id] [int] NOT NULL,
	[raw_material_id] [int] NOT NULL,
	[quantity_percent] [decimal](10, 4) NOT NULL,
	[load_order] [int] NOT NULL,
	[is_critical] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [production].[recipes]    Script Date: 14.05.2026 10:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [production].[recipes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[version] [int] NOT NULL,
	[status] [nvarchar](20) NULL,
	[created_by] [int] NULL,
	[approved_by] [int] NULL,
	[created_at] [datetime2](7) NULL,
	[approved_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_recipe_product_version] UNIQUE NONCLUSTERED 
(
	[product_id] ASC,
	[version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [production].[step_actual_parameters]    Script Date: 14.05.2026 10:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [production].[step_actual_parameters](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[step_execution_id] [int] NOT NULL,
	[param_name] [nvarchar](50) NOT NULL,
	[actual_value] [decimal](10, 2) NULL,
	[unit] [nvarchar](10) NULL,
	[is_deviated] [bit] NULL,
	[deviation_reason] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [production].[step_parameters]    Script Date: 14.05.2026 10:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [production].[step_parameters](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[step_id] [int] NOT NULL,
	[param_name] [nvarchar](50) NOT NULL,
	[planned_value] [decimal](10, 2) NULL,
	[unit] [nvarchar](10) NULL,
	[tolerance_min] [decimal](8, 2) NULL,
	[tolerance_max] [decimal](8, 2) NULL,
	[is_critical] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [production].[tech_card_steps]    Script Date: 14.05.2026 10:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [production].[tech_card_steps](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tech_card_id] [int] NOT NULL,
	[step_order] [int] NOT NULL,
	[step_name] [nvarchar](100) NOT NULL,
	[step_type] [nvarchar](50) NULL,
	[equipment_id] [int] NULL,
	[planned_duration_min] [int] NULL,
	[is_mandatory] [bit] NULL,
	[instruction] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [production].[tech_cards]    Script Date: 14.05.2026 10:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [production].[tech_cards](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[version] [int] NOT NULL,
	[status] [nvarchar](20) NULL,
	[is_active] [bit] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_tc_product_version] UNIQUE NONCLUSTERED 
(
	[product_id] ASC,
	[version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [quality].[quality_controls]    Script Date: 14.05.2026 10:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [quality].[quality_controls](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NOT NULL,
	[sample_type] [nvarchar](20) NOT NULL,
	[parameter_name] [nvarchar](100) NOT NULL,
	[measured_value] [decimal](10, 2) NULL,
	[standard_value] [nvarchar](50) NULL,
	[unit] [nvarchar](10) NULL,
	[result] [nvarchar](20) NULL,
	[decision] [nvarchar](20) NULL,
	[analyst_id] [int] NULL,
	[analysis_date] [datetime2](7) NULL,
	[comment] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [reference].[departments]    Script Date: 14.05.2026 10:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [reference].[departments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](20) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[parent_id] [int] NULL,
	[head_user_id] [int] NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [reference].[equipment]    Script Date: 14.05.2026 10:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [reference].[equipment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](20) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[type] [nvarchar](50) NULL,
	[location] [nvarchar](100) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [reference].[products]    Script Date: 14.05.2026 10:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [reference].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](20) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[product_type] [nvarchar](50) NULL,
	[release_form] [nvarchar](50) NULL,
	[unit] [nvarchar](10) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [reference].[raw_materials]    Script Date: 14.05.2026 10:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [reference].[raw_materials](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](20) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[category] [nvarchar](50) NULL,
	[unit] [nvarchar](10) NULL,
	[supplier] [nvarchar](100) NULL,
	[is_critical] [bit] NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [reference].[roles]    Script Date: 14.05.2026 10:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [reference].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
	[priority_level] [int] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [reference].[users]    Script Date: 14.05.2026 10:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [reference].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](150) NOT NULL,
	[role_id] [int] NOT NULL,
	[department_id] [int] NULL,
	[email] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[Department] [nvarchar](100) NULL,
	[FailedLoginAttempts] [int] NOT NULL,
	[LastLogin] [datetime2](7) NULL,
	[LastPasswordChange] [datetime2](7) NULL,
	[LockedUntil] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[Role] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [audit].[audit_log] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [monitoring].[deviations] ADD  DEFAULT ('warning') FOR [severity]
GO
ALTER TABLE [monitoring].[deviations] ADD  DEFAULT (getdate()) FOR [reported_at]
GO
ALTER TABLE [production].[batch_raw_materials_usage] ADD  DEFAULT (getdate()) FOR [used_at]
GO
ALTER TABLE [production].[batch_step_executions] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [production].[batch_step_executions] ADD  DEFAULT ((0)) FOR [deviation_flag]
GO
ALTER TABLE [production].[batches] ADD  DEFAULT ('planned') FOR [status]
GO
ALTER TABLE [production].[batches] ADD  DEFAULT ((0)) FOR [actual_quantity_kg]
GO
ALTER TABLE [production].[batches] ADD  DEFAULT ('pending') FOR [lab_status]
GO
ALTER TABLE [production].[batches] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [production].[production_orders] ADD  DEFAULT ('draft') FOR [status]
GO
ALTER TABLE [production].[production_orders] ADD  DEFAULT ((1)) FOR [priority]
GO
ALTER TABLE [production].[production_orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [production].[recipe_components] ADD  DEFAULT ((0)) FOR [is_critical]
GO
ALTER TABLE [production].[recipes] ADD  DEFAULT ((1)) FOR [version]
GO
ALTER TABLE [production].[recipes] ADD  DEFAULT ('draft') FOR [status]
GO
ALTER TABLE [production].[recipes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [production].[step_actual_parameters] ADD  DEFAULT ((0)) FOR [is_deviated]
GO
ALTER TABLE [production].[step_parameters] ADD  DEFAULT ((0)) FOR [is_critical]
GO
ALTER TABLE [production].[tech_card_steps] ADD  DEFAULT ((1)) FOR [is_mandatory]
GO
ALTER TABLE [production].[tech_cards] ADD  DEFAULT ((1)) FOR [version]
GO
ALTER TABLE [production].[tech_cards] ADD  DEFAULT ('draft') FOR [status]
GO
ALTER TABLE [production].[tech_cards] ADD  DEFAULT ((0)) FOR [is_active]
GO
ALTER TABLE [production].[tech_cards] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [quality].[quality_controls] ADD  DEFAULT ('pending') FOR [decision]
GO
ALTER TABLE [quality].[quality_controls] ADD  DEFAULT (getdate()) FOR [analysis_date]
GO
ALTER TABLE [reference].[departments] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [reference].[departments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [reference].[equipment] ADD  DEFAULT ('operational') FOR [status]
GO
ALTER TABLE [reference].[equipment] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [reference].[products] ADD  DEFAULT ('кг') FOR [unit]
GO
ALTER TABLE [reference].[products] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [reference].[products] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [reference].[raw_materials] ADD  DEFAULT ((0)) FOR [is_critical]
GO
ALTER TABLE [reference].[raw_materials] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [reference].[raw_materials] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [reference].[roles] ADD  DEFAULT ((0)) FOR [priority_level]
GO
ALTER TABLE [reference].[roles] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [reference].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [reference].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [reference].[users] ADD  DEFAULT ((0)) FOR [FailedLoginAttempts]
GO
ALTER TABLE [reference].[users] ADD  DEFAULT ('operator') FOR [Role]
GO
ALTER TABLE [monitoring].[deviations]  WITH CHECK ADD  CONSTRAINT [FK_dev_batch] FOREIGN KEY([batch_id])
REFERENCES [production].[batches] ([id])
GO
ALTER TABLE [monitoring].[deviations] CHECK CONSTRAINT [FK_dev_batch]
GO
ALTER TABLE [monitoring].[deviations]  WITH CHECK ADD  CONSTRAINT [FK_dev_execution] FOREIGN KEY([step_execution_id])
REFERENCES [production].[batch_step_executions] ([id])
GO
ALTER TABLE [monitoring].[deviations] CHECK CONSTRAINT [FK_dev_execution]
GO
ALTER TABLE [production].[batch_raw_materials_usage]  WITH CHECK ADD  CONSTRAINT [FK_brmu_batch] FOREIGN KEY([batch_id])
REFERENCES [production].[batches] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [production].[batch_raw_materials_usage] CHECK CONSTRAINT [FK_brmu_batch]
GO
ALTER TABLE [production].[batch_raw_materials_usage]  WITH CHECK ADD  CONSTRAINT [FK_brmu_material] FOREIGN KEY([raw_material_id])
REFERENCES [reference].[raw_materials] ([id])
GO
ALTER TABLE [production].[batch_raw_materials_usage] CHECK CONSTRAINT [FK_brmu_material]
GO
ALTER TABLE [production].[batch_step_executions]  WITH CHECK ADD  CONSTRAINT [FK_bse_batch] FOREIGN KEY([batch_id])
REFERENCES [production].[batches] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [production].[batch_step_executions] CHECK CONSTRAINT [FK_bse_batch]
GO
ALTER TABLE [production].[batch_step_executions]  WITH CHECK ADD  CONSTRAINT [FK_bse_operator] FOREIGN KEY([operator_id])
REFERENCES [reference].[users] ([id])
GO
ALTER TABLE [production].[batch_step_executions] CHECK CONSTRAINT [FK_bse_operator]
GO
ALTER TABLE [production].[batch_step_executions]  WITH CHECK ADD  CONSTRAINT [FK_bse_step] FOREIGN KEY([tech_card_step_id])
REFERENCES [production].[tech_card_steps] ([id])
GO
ALTER TABLE [production].[batch_step_executions] CHECK CONSTRAINT [FK_bse_step]
GO
ALTER TABLE [production].[batches]  WITH CHECK ADD  CONSTRAINT [FK_batches_order] FOREIGN KEY([order_id])
REFERENCES [production].[production_orders] ([id])
GO
ALTER TABLE [production].[batches] CHECK CONSTRAINT [FK_batches_order]
GO
ALTER TABLE [production].[batches]  WITH CHECK ADD  CONSTRAINT [FK_batches_product] FOREIGN KEY([product_id])
REFERENCES [reference].[products] ([id])
GO
ALTER TABLE [production].[batches] CHECK CONSTRAINT [FK_batches_product]
GO
ALTER TABLE [production].[production_orders]  WITH CHECK ADD  CONSTRAINT [FK_po_created_by] FOREIGN KEY([created_by])
REFERENCES [reference].[users] ([id])
GO
ALTER TABLE [production].[production_orders] CHECK CONSTRAINT [FK_po_created_by]
GO
ALTER TABLE [production].[production_orders]  WITH CHECK ADD  CONSTRAINT [FK_po_recipe] FOREIGN KEY([recipe_id])
REFERENCES [production].[recipes] ([id])
GO
ALTER TABLE [production].[production_orders] CHECK CONSTRAINT [FK_po_recipe]
GO
ALTER TABLE [production].[recipe_components]  WITH CHECK ADD  CONSTRAINT [FK_rc_material] FOREIGN KEY([raw_material_id])
REFERENCES [reference].[raw_materials] ([id])
GO
ALTER TABLE [production].[recipe_components] CHECK CONSTRAINT [FK_rc_material]
GO
ALTER TABLE [production].[recipe_components]  WITH CHECK ADD  CONSTRAINT [FK_rc_recipe] FOREIGN KEY([recipe_id])
REFERENCES [production].[recipes] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [production].[recipe_components] CHECK CONSTRAINT [FK_rc_recipe]
GO
ALTER TABLE [production].[recipes]  WITH CHECK ADD  CONSTRAINT [FK_recipes_created_by] FOREIGN KEY([created_by])
REFERENCES [reference].[users] ([id])
GO
ALTER TABLE [production].[recipes] CHECK CONSTRAINT [FK_recipes_created_by]
GO
ALTER TABLE [production].[recipes]  WITH CHECK ADD  CONSTRAINT [FK_recipes_product] FOREIGN KEY([product_id])
REFERENCES [reference].[products] ([id])
GO
ALTER TABLE [production].[recipes] CHECK CONSTRAINT [FK_recipes_product]
GO
ALTER TABLE [production].[step_actual_parameters]  WITH CHECK ADD  CONSTRAINT [FK_sap_execution] FOREIGN KEY([step_execution_id])
REFERENCES [production].[batch_step_executions] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [production].[step_actual_parameters] CHECK CONSTRAINT [FK_sap_execution]
GO
ALTER TABLE [production].[step_parameters]  WITH CHECK ADD  CONSTRAINT [FK_sp_step] FOREIGN KEY([step_id])
REFERENCES [production].[tech_card_steps] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [production].[step_parameters] CHECK CONSTRAINT [FK_sp_step]
GO
ALTER TABLE [production].[tech_card_steps]  WITH CHECK ADD  CONSTRAINT [FK_tcs_card] FOREIGN KEY([tech_card_id])
REFERENCES [production].[tech_cards] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [production].[tech_card_steps] CHECK CONSTRAINT [FK_tcs_card]
GO
ALTER TABLE [production].[tech_card_steps]  WITH CHECK ADD  CONSTRAINT [FK_tcs_equipment] FOREIGN KEY([equipment_id])
REFERENCES [reference].[equipment] ([id])
GO
ALTER TABLE [production].[tech_card_steps] CHECK CONSTRAINT [FK_tcs_equipment]
GO
ALTER TABLE [production].[tech_cards]  WITH CHECK ADD  CONSTRAINT [FK_tc_created_by] FOREIGN KEY([created_by])
REFERENCES [reference].[users] ([id])
GO
ALTER TABLE [production].[tech_cards] CHECK CONSTRAINT [FK_tc_created_by]
GO
ALTER TABLE [production].[tech_cards]  WITH CHECK ADD  CONSTRAINT [FK_tc_product] FOREIGN KEY([product_id])
REFERENCES [reference].[products] ([id])
GO
ALTER TABLE [production].[tech_cards] CHECK CONSTRAINT [FK_tc_product]
GO
ALTER TABLE [quality].[quality_controls]  WITH CHECK ADD  CONSTRAINT [FK_qc_analyst] FOREIGN KEY([analyst_id])
REFERENCES [reference].[users] ([id])
GO
ALTER TABLE [quality].[quality_controls] CHECK CONSTRAINT [FK_qc_analyst]
GO
ALTER TABLE [quality].[quality_controls]  WITH CHECK ADD  CONSTRAINT [FK_qc_batch] FOREIGN KEY([batch_id])
REFERENCES [production].[batches] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [quality].[quality_controls] CHECK CONSTRAINT [FK_qc_batch]
GO
ALTER TABLE [reference].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_department] FOREIGN KEY([department_id])
REFERENCES [reference].[departments] ([id])
GO
ALTER TABLE [reference].[users] CHECK CONSTRAINT [FK_users_department]
GO
ALTER TABLE [reference].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_role] FOREIGN KEY([role_id])
REFERENCES [reference].[roles] ([id])
GO
ALTER TABLE [reference].[users] CHECK CONSTRAINT [FK_users_role]
GO
ALTER TABLE [production].[recipe_components]  WITH CHECK ADD  CONSTRAINT [CHK_quantity_positive] CHECK  (([quantity_percent]>(0)))
GO
ALTER TABLE [production].[recipe_components] CHECK CONSTRAINT [CHK_quantity_positive]
GO
/****** Object:  StoredProcedure [production].[start_batch_production]    Script Date: 14.05.2026 10:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- 7. ХРАНИМЫЕ ПРОЦЕДУРЫ
-- =====================================================

CREATE   PROCEDURE [production].[start_batch_production]
    @batch_id INT,
    @operator_id INT,
    @result_message NVARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        IF EXISTS (SELECT 1 FROM production.batches WHERE id = @batch_id AND status = 'planned')
        BEGIN
            UPDATE production.batches 
            SET status = 'running', 
                start_time = GETDATE()
            WHERE id = @batch_id;
            
            INSERT INTO audit.audit_log (user_id, action, entity_type, entity_id, new_values)
            VALUES (@operator_id, 'START_BATCH', 'batch', @batch_id, 'Запуск производства');
            
            SET @result_message = 'Партия успешно запущена';
        END
        ELSE
            SET @result_message = 'Ошибка: Партия не в статусе "planned"';
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        SET @result_message = ERROR_MESSAGE();
    END CATCH
END;
GO
/****** Object:  StoredProcedure [reporting].[get_deviation_report]    Script Date: 14.05.2026 10:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- 8. ОТЧЕТЫ
-- =====================================================

CREATE   PROCEDURE [reporting].[get_deviation_report]
    @start_date DATE,
    @end_date DATE
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        d.reported_at AS deviation_date,
        b.batch_number,
        d.parameter_name,
        d.planned_value,
        d.actual_value,
        d.severity,
        d.description
    FROM monitoring.deviations d
    INNER JOIN production.batches b ON d.batch_id = b.id
    WHERE CAST(d.reported_at AS DATE) BETWEEN @start_date AND @end_date
    ORDER BY d.reported_at DESC;
END;
GO
